In [28]:
from sklearn.model_selection import train_test_split
import pandas as pd
import lightgbm as lgb
import datetime

activeL_df = pd.read_csv("../data/Avtice-losses.csv")
activeL_df = activeL_df.rename(columns={"Wirkverluste/Active Losses": "loss", "Unnamed: 0": "timestp"})
activeL_df = activeL_df.iloc[1:]
display(activeL)

                    timestp          loss
1       2019-01-01 00:15:00  39143.346123
2       2019-01-01 00:30:00  32788.068958
3       2019-01-01 00:45:00  33018.915678
4       2019-01-01 01:00:00  34574.672936
5       2019-01-01 01:15:00   33417.09555
...                     ...           ...
105212  2021-12-31 23:00:00  40720.617362
105213  2021-12-31 23:15:00  38156.038776
105214  2021-12-31 23:30:00  36290.836689
105215  2021-12-31 23:45:00  35947.703622
105216  2022-01-01 00:00:00  35660.211734

[105216 rows x 2 columns]

In [13]:
activeL['timestp'] = pd.to_datetime(activeL['timestp'])
activeL['timestp'] = activeL['timestp'] - datetime.timedelta(minutes=15)

In [16]:
print(activeL)

                   timestp          loss
1      2019-01-01 00:00:00  39143.346123
2      2019-01-01 00:15:00  32788.068958
3      2019-01-01 00:30:00  33018.915678
4      2019-01-01 00:45:00  34574.672936
5      2019-01-01 01:00:00   33417.09555
...                    ...           ...
105212 2021-12-31 22:45:00  40720.617362
105213 2021-12-31 23:00:00  38156.038776
105214 2021-12-31 23:15:00  36290.836689
105215 2021-12-31 23:30:00  35947.703622
105216 2021-12-31 23:45:00  35660.211734

[105216 rows x 2 columns]

In [25]:
activeL['loss'] = pd.to_numeric(activeL['loss'], errors='coerce')/1000
activeL_dfsample = activeL.resample('H', on='timestp')
print(activeL)
print(activeL_dfsample.sum())

                   timestp      loss
1      2019-01-01 00:00:00  0.039143
2      2019-01-01 00:15:00  0.032788
3      2019-01-01 00:30:00  0.033019
4      2019-01-01 00:45:00  0.034575
5      2019-01-01 01:00:00  0.033417
...                    ...       ...
105212 2021-12-31 22:45:00  0.040721
105213 2021-12-31 23:00:00  0.038156
105214 2021-12-31 23:15:00  0.036291
105215 2021-12-31 23:30:00  0.035948
105216 2021-12-31 23:45:00  0.035660

[105216 rows x 2 columns]
                         loss
timestp
2019-01-01 00:00:00  0.139525
2019-01-01 01:00:00  0.129716
2019-01-01 02:00:00  0.133398
2019-01-01 03:00:00  0.135134
2019-01-01 04:00:00  0.131699
...                       ...
2021-12-31 19:00:00  0.171707
2021-12-31 20:00:00  0.159463
2021-12-31 21:00:00  0.155110
2021-12-31 22:00:00  0.171370
2021-12-31 23:00:00  0.146055

[26304 rows x 1 columns]