In [2]:
import pandas as pd
import os

In [3]:
### Clean 'Avtice-losses.csv' ###

In [4]:
print(os.getcwd())
data = pd.read_csv('../../data/Avtice-losses.csv', header=1)
print(data.head(5))

/srv/train_group3/Shared
           Zeitstempel           kWh
0  2019-01-01 00:15:00  39143.346123
1  2019-01-01 00:30:00  32788.068958
2  2019-01-01 00:45:00  33018.915678
3  2019-01-01 01:00:00  34574.672936
4  2019-01-01 01:15:00  33417.095550

In [5]:
#convert losses from kwh to mwh
data['MWh']=data['kWh']/1000

In [6]:
#convert quarter resolution to hourly resolution
data['Zeitstempel'] = pd. to_datetime(data['Zeitstempel']) 
data['time_start'] = data['Zeitstempel']-pd.Timedelta(minutes=15)

In [7]:
data['hour'] = data['time_start'].apply(lambda x: x.strftime('%Y-%m-%d %H'))

In [8]:
data_hour = data.groupby(['hour'])['MWh'].sum().reset_index()

In [9]:
data_hour

                hour         MWh
0      2019-01-01 00  139.525004
1      2019-01-01 01  129.716036
2      2019-01-01 02  133.398074
3      2019-01-01 03  135.133852
4      2019-01-01 04  131.699424
...              ...         ...
26299  2021-12-31 19  171.707318
26300  2021-12-31 20  159.462903
26301  2021-12-31 21  155.109520
26302  2021-12-31 22  171.370277
26303  2021-12-31 23  146.054791

[26304 rows x 2 columns]

In [19]:
### Clean 'Forecast-temperature.csv' ###

In [ ]:
# Load the data
data = pd.read_csv("../../data/Forecast-temperature.csv")

# Convert the 'datetime' column to datetime format
data['datetime'] = pd.to_datetime(data['datetime'])

# Check if the data is already in 6-hour intervals
if (data['datetime'].diff().dt.total_seconds() / 3600).median() == 6:
    # If the data is in 6-hour intervals, leave the datetime column as it is
    hourly_data = data
else:
    # If the data is not in 6-hour intervals, resample it to hourly intervals
    hourly_data = data.resample('H', on='datetime').mean().reset_index()

    # Fill missing values in other columns with the values from the initial 6-hourly data
    columns_to_fill = hourly_data.columns.difference(['datetime'])
    hourly_data[columns_to_fill] = hourly_data[columns_to_fill].fillna(method='ffill', limit=6)
    # Replace '6' with the appropriate number if you want to fill more or fewer hours

# Print the resulting hourly data
display(hourly_data)